[submodule "@etherparty/lib/openzeppelin-contracts"]
	path = @etherparty/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "@exactly/lib/openzeppelin-contracts"]
	path = @exactly/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
